<div id="<%= dom_id friend %>">
  <p>
    <strong>Brand:</strong>
    <%= friend.brand %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= friend.price %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= friend.colour %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= friend.code %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= friend.quantity %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= friend.size %>
  </p>

</div>
