<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
<thead class="thead-dark" >
  <tr>
    <th>Brand</th>
    <th>Price</th>
    <th>Colour</th>
    <th>Code</th>
    <th>Quantity</th>
    <th>Size</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
<div id="<%= dom_id good %>">
  <tr>
<td>
  <%= good.brand %>
</td>



  <td>

    <%= good.price %>
  </td>

  <td>

    <%= good.colour %>
  </td>

  <td>
    <%= good.code %>
  </td>

  <td>
    <%= good.quantity %>
  </td>

  <td>
    <%= good.size %>
  </td>
  </tr>
</div>
  </tbody>

</table>
</div>
